# GRAFANA_POST_URL points to a running grafana instance to create the editor
# GRAFANA_GET_URL points to what the iframe will load from client side
# The above two url's are separated because there might be use cases where
# view and edit use different auth mechanism and thus require different endpoints
GRAFANA_POST_URL: "https://target-grafana-url"
GRAFANA_GET_URL: "https://target-grafana-url"

# GRAFANA_API_KEY is the admin api key required to create dashboards from playground code
GRAFANA_API_KEY: "secret-api-key"

# GRAFONNET_LIB_DIR is the location where grafonnet-lib is cloned
# See https://github.com/grafana/grafonnet-lib
GRAFONNET_LIB_DIR: /location/to/grafonnet-lib

# GRAFONNET_PLAYGROUND_FOLDER_ID is the folder where grafonnet-playground will create
# dashboards when from playground code
GRAFONNET_PLAYGROUND_FOLDER_ID: 0
