.graph {
    height: 100%;
    width: 100%;
}

.graph-frame {
    height: 100%;
    width: 100%;
}

iframe {
    margin: none;
    padding: none;
    border: none;
    line-height: 0;
    display: block;
}
